body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
}

#apple-shelf {
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

#orange-shelf {
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}

button{
    background-color: blue;
    color: white;
    margin-top: 1.2rem;
    padding: 7px;
    border: 0;
    border-radius: 7px;
    font-weight: bold;
}